* {
    margin: 0;
    font-family: system-ui;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask {
    /*background-image: url(../images/mask.png);*/
    width: 500px;
    height: 435px;
    display: grid;
    place-items: center;
    position: relative;
}

.square{
    width: 450px;
    height: 320px;
    clip-path: polygon(16.5% 47%, 17.2% 31.8%, 83.7% 33.3%, 83% 55.9%, 72.5% 75.1%, 63.1% 85.8%, 50.8% 97.4%, 37.3% 85%, 25.4% 71.4%, 18.2% 57.7%);    
    background: #4E0078;
    z-index: 2;
    margin-top: 70px;
}

.mask::before,
.mask::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: #4E0078;
    border-radius: 50%;
    top: 100px;
    z-index: 3;
}

.mask::before {
    left: 80px;
}

.mask::after {
    right: 80px;
}

.eyes::before,
.eyes::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    background: radial-gradient(#E5D300 30%, red);
    border-radius: 50%;
    border: 8px solid black;
    top: 175px;
    z-index: 5;
}

.eyes::before {
    left: 130px;
}

.eyes::after {
    right: 130px;
}

.iris::before,
.iris::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #00FF00;
    border-radius: 50%;
    border: 3px solid black;
    top: 210px;
    z-index: 5;
}

.iris::before {
    left: 164px;
}

.iris::after {
    right: 164px;
}

.pupil::before,
.pupil::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    top: 217px;
    z-index: 5;
}

.pupil::before {
    left: 171px;
}

.pupil::after {
    right: 171px;
}

.contour::before,
.contour::after {
    content: "";
    position: absolute;
    width: 125px;
    height: 130px;
    background: #ff0000;
    border-radius: 50%;
    top: 155px;
    z-index: 5;
}

.contour::before {
    left: 115px;
}

.contour::after {
    right: 115px;
}

.spikes::before,
.spikes::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 120px;
    background: linear-gradient(to right, #E5D300 50%,#CA9D00 50%);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    border-radius: 50%;
    top: 1px;
    z-index: 5;
}

.spikes::before {
    left: 132px;
    transform: rotate(-10deg);
}

.spikes::after {
    right: 136px;
    transform: rotate(8deg);
}

.left_spikes{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    position: absolute;
    width: 220px;
    height: 130px;
    transform: rotate(-135deg);
    top: 250px;
    left: 0px;
    z-index: 5;
}

.right_spikes{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    position: absolute;
    width: 220px;
    height: 130px;
    transform: rotate(135deg);
    top: 250px;
    left: 280px;
    z-index: 5;
}

.spike{
    width: 50px;
    height: 100px;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    border-radius: 50%;
    position: relative;
}

.a {
    background: linear-gradient(to right, #00827F 50%,#004C6A 50%);
}

.b {
    background: linear-gradient(to right, #317D08 50%,#23D300 50%);
}

.c {
    background: linear-gradient(to right, #C8232A 50%,#EC352A 50%);
}

.d {
    background: linear-gradient(to right, #E5D300 50%,#CA9D00 50%);
    transform: rotate(30deg);
    top: 8px;
}

.e {
    background: linear-gradient(to right, #E5D300 50%,#CA9D00 50%);
    transform: rotate(-30deg);
    top: 10px;
    right: 5px;
}

.left_triangles{
    position:absolute;
    width: 100px;
    height: 10px;
    top: 0px;
    left: 0px;
    z-index: 5;
}

.triangle_a{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #FFB800;
    border-radius: 10px;
    transform: rotate(15deg);
    top: 130px;
    left: 115px;
}

.triangle_a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 13px solid #4E0078;
    border-radius: 10px;
    top: 4px;
    left: -8px;
}

.triangle_b{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 23px solid #FFB800;
    border-radius: 10px;
    transform: rotate(185deg);
    top: 128px;
    left: 135px;
}

.triangle_b::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 12px solid #4E0078;
    border-radius: 10px;
    top: 7px;
    left: -9px;
}

.triangle_c{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 15px solid #FFB800;
    border-radius: 10px;
    top: 130px;
    left: 160px;
}

.triangle_c::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 8px solid #4E0078;
    border-radius: 10px;
    top: 4px;
    left: -6px;
}

.right_triangles{
    position:absolute;
    width: 100px;
    height: 10px;
    top: 0px;
    left: 200px;
    z-index: 5;
}

.triangle_x{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #FFB800;
    border-radius: 10px;
    transform: rotate(230deg);
    top: 130px;
    left: 155px;
}

.triangle_x::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 13px solid #4E0078;
    border-radius: 10px;
    top: 4px;
    left: -8px;
}

.triangle_y{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 23px solid #FFB800;
    border-radius: 10px;
    transform: rotate(170deg);
    top: 125px;
    left: 138px;
}

.triangle_y::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid #4E0078;
    border-radius: 10px;
    top: 4px;
    left: -8px;
}

.triangle_z{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #FFB800;
    border-radius: 10px;
    top: 125px;
    left: 100px;
}

.triangle_z::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #4E0078;
    border-radius: 10px;
    top: 8px;
    left: -16px;
}

.mouth{
    position: absolute;
    width: 401px;
    height: 400px;
    background: red;
    clip-path: polygon(58.9% 66%, 59.1% 71%, 61.6% 75.3%, 65.8% 79.3%, 51.1% 88.8%, 35.9% 79.3%, 39.9% 75.5%, 43.1% 70.8%, 43.6% 65.8%);    
    top: 30px;
    left: 50px;
    z-index: 3;
}

.semicircle::before,
.semicircle::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 100px;
    background: #E68728;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: 98px;
    z-index: 4;
}

.semicircle::before {
    left: 80px;
}

.semicircle::after {
    top: 96px;
    right: 80px;
}

.subsemicircle::before,
.subsemicircle::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 100px;
    background: #4E0078;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: 120px;
    z-index: 4;
}

.subsemicircle::before {
    left: 82px;
    transform: rotate(-10deg);
}

.subsemicircle::after {
    right: 80px;
    transform: rotate(10deg);
}

.forehead::before,
.forehead::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 40px;
    background: #4E0078;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    border-radius: 50%;
    top: 110px;
    z-index: 4;
}

.forehead::before {
    right: 240px;
    transform: rotate(-262deg);
}

.forehead::after {
    left: 242px;
    transform: rotate(260deg);
}

.left_green{
    position: absolute;
    width: 244px;
    height: 320px;
    background: #00943B;
    clip-path: polygon(71.8% 69.7%, 76.9% 69.4%, 84.6% 67.5%, 89.3% 66.6%, 76.5% 77.5%, 70.9% 74.7%, 68.4% 72.8%, 67.1% 69.4%, 67.1% 69.4%);
    top: 85px;
    left: 150px;
    z-index: 3;
}

.left_white{
    position: absolute;
    width: 401px;
    height: 400px;
    background: #FFFF;
    clip-path: polygon(72.9% 67.3%, 77.5% 63.3%, 85.3% 55%, 85.8% 59.5%, 67.5% 77.5%, 63.9% 74.3%, 61.9% 71.8%, 62.6% 68.3%, 66.1% 69%);    
    top: 25px;
    left: 50px;
    z-index: 3;
}

.right_green{
    position: absolute;
    width: 401px;
    height: 400px;
    background: #00943B;
    clip-path: polygon(35.5% 71.9%, 38.1% 71.6%, 38.4% 73.4%, 36.3% 75%, 31.5% 75.9%, 26.4% 69.7%, 33.7% 72.5%);    
    top: 20px;
    left: 40px;
    z-index: 3;
}

.right_white{
    position: absolute;
    width: 401px;
    height: 320px;
    background: #FFFF;
    clip-path: polygon(30% 68.8%, 37.1% 69.2%, 42.6% 69.6%, 42.4% 73%, 40.3% 76.6%, 34.7% 78.8%, 26.4% 70.2%, 17% 59.6%, 19.2% 58.9%);    

    top: 80px;
    left: 40px;
    z-index: 3;
}

.middle_eyes {
    position: absolute;
    width: 28px;
    height: 120px;
    background: #4E0078;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    top: 130px;
    z-index: 4;
}

.middle::before,
.middle::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 65px;
    background: #4E0078;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    border-radius: 50%;
    transform: rotate(180deg);
    top: 140px;
    z-index: 4;
}

.middle::before {
    right: 240px;

}

.middle::after {
    left: 242px;
}

.nose{
    position: absolute;
    width: 64px;
    height: 90px;
    background: red;
    left: 222px;
    top: 230px;
    z-index: 4;
}


.holes {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    grid-column-gap: 0px;
    width: 70px;
    padding: 20px;
    left: 222px;
    top: 290px;
    z-index: 5;
}

.holes div {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
}

.nose_holes {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    grid-column-gap: 0px;
    width: 70px;
    padding: 20px;
    left: 222px;
    top: 240px;
    z-index: 5;
}

.nose_holes div {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
}

.forehead_holes {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2px;
    grid-column-gap: 0px;
    width: 60px;
    padding: 20px;
    left: 222px;
    top: 130px;
    z-index: 5;
}

.forehead_holes div {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
}

.triangles_eyes::before,
.triangles_eyes::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 35px solid #ff0000;

    top: 160px;
    z-index: 5;
}

.triangles_eyes::before {
    right: 90px;
    transform: rotate(53deg);
}

.triangles_eyes::after {
    left: 90px;
    transform: rotate(-53deg);
}

/*----------------------------------------------------------*/

/*
.mask2 {
    background-image: url(../images/mask.png);
    width: 500px;
    height: 435px;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 4;
}
*/
